@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
}

header,
section {
     padding: 50px 0;
}

.clearfix::after {
     content: "";
     display: table;
     clear: both;
}

.half-left {
     width: 45%;
     margin-left: 2%;
     padding-left: 3%;
     float: left;
}

header img {
     width: 100%;
}

.hero {
     margin-top: 150px;
}

.hero-text {
     font-size: 60px;
     font-weight: 700;
     color: #575757;
}

.hero-text span {
     color: #FBA24F;
}

.hero-des {
     font-size: 20px;
     font-weight: 500;
}

.btn {
     /* For button Element */
     border: none;
     /* My Styles */
     font-size: 18px;
     background-image: linear-gradient(to right, #FB6E4F, #FF1E1E);
     color: #fff;
     padding: 15px 35px;
     cursor: pointer;
     border-radius: 33px;
     transition: transform 0.2s;
}

.btn:hover {
     transform: scale(1.1);
}

.about {
     background-image: url(images/bg.png);
     background-size: contain;
     background-repeat: no-repeat;
}

.about img {
     height: 510px;
     transform: translateX(100px);
}

.about-text {
     margin-top: 100px;
}

h2 {
     font-size: 40px;
     color: #707070;
     font-weight: 700;
}

.about-des {
     font-size: 18px;
     width: 70%;
     color: #18191F;
}

.recipe h2 {
     text-align: center;
}

.recipe-des {
     text-align: center;
     width: 40%;
     margin: 0 auto;
     font-size: 18px;
     color: #252525;
     margin-bottom: 30px;
}

.col-3 {
     width: 27%;
     margin-left: 3%;
     padding-left: 2%;
     float: left;
}

.card {
     padding: 15px;
     border-radius: 33px;
     box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.card-img {
     width: 100%;
}

.card-title {
     font-size: 28px;
     color: #18191F;
}

.card-text {
     font-size: 18px;
}

.container {
     width: 1140px;
     margin: 0 auto;
     box-shadow: 0 0 10px rgba(0, 0, 0, .2);
     padding: 50px 0;
}

.follow-title {
     font-size: 48px;
     font-weight: 700;
}

.follow-des {
     font-size: 16px;
}

footer {
     padding: 60px 0;
     text-align: center;
     background-color: #0B0D17;
     color: #bfbfbf;
}

.footer-title {
     font-size: 30px;
     color: #5B5B5B;
     margin-bottom: 30px;
     font-weight: 700;
}

.footer-title span {
     color: #FBA24F;
}