@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
}

header, section {
     padding: 50px 0;
}

.clearfix::after {
     content: "";
     display: table;
     clear: both;
}

.half-left {
     width: 45%;
     margin-left: 2%;
     padding-left: 3%;
     float: left;
}

header img {
     width: 100%;
}

.hero {
     margin-top: 150px;
}

.hero-text {
     font-size: 60px;
     font-weight: 700;
     color: #575757;
}

.hero-text span {
     color: #FBA24F;
}

.hero-des {
     font-size: 20px;
     font-weight: 500;
}

.btn {
     /* For button Element */
     border: none;
     /* My Styles */
     font-size: 18px;
     background-image: linear-gradient(to right, #FB6E4F, #FF1E1E);
     color: #fff;
     padding: 15px 35px;
     cursor: pointer;
     border-radius: 33px;
     transition: transform 0.2s;
}

.btn:hover {
     transform: scale(1.1);
}

.about {
     background-image: url(images/bg.png);
     background-size: contain;
     background-repeat: no-repeat;
}

.about img {
     height: 510px;
     transform: translateX(100px);
}

.about-text {
     margin-top: 100px;
}

.about-title {
     font-size: 40px;
     color: #707070;
     font-weight: 700;
}

.about-des {
     font-size: 18px;
     width: 70%;
     color: #18191F;
}